language: node_js
node_js:
  - "11"
  - "10"
  - "8"
  - "6"
  - "4"
env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
script:
  - npm run lint
  - NODE_VERSION=$(node -v)
  - if [[ $NODE_VERSION != v4.* ]]; then npm test; fi

